extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};
		const partners = [
			{n: 'logo-starbucks-coffee', w: '113', h: '113', alt: 'Starbucks Coffee'}, 
			{n: 'logo-letual', w: '229', h: '39', alt: 'Л\'этуаль'}, 
			{n: 'logo-street-beat', w: '226', h: '87', alt: 'Street Beats'}, 
			{n: 'logo-formula-cinema', w: '310', h: '33', alt: 'Формула кино'},
			{n: 'logo-pubg-mobile', w: '115', h: '85', alt: 'PUBG mobile'}, 
			{n: 'logo-sportmaster', w: '120', h: '79', alt: 'Спортмастер'},
			{n: 'logo-metro', w: '165', h: '30', alt: 'METRO'}, 
			{n: 'logo-tele2', w: '143', h: '54', alt: 'Tele2'}
		];

		const FILTERS = [{text: 'Челленджи и скетчи', target: '#'}, {text: 'Рубрики', target: '#'}, {text: 'Имиджевые', target: '#'}, {text: 'Вирусные', target: '#'}, {text: 'Пранки', target: '#'}];

		const BOOKING_CARDS = [
			{name: 'Oreo', img: 'booking-oreo', smiles: ['1', '2'], social: [{name: 'ТикТок', link: '#', count: '780 000'}, {name: 'Инстаграм ', link: '#', count: '18 800'}]},
			{name: 'Daniil', img: 'booking-daniil', smiles: ['3', '2'], social: [{name: 'ТикТок', link: '#', count: '705 000'}, {name: 'Инстаграм ', link: '#', count: '40 600'}]},
			{name: 'Alexkady', img: 'booking-alexkady', smiles: ['4', '5'], social: [{name: 'ТикТок', link: '#', count: '975 000'}, {name: 'Инстаграм ', link: '#', count: '21 300'}]},
			{name: 'Seneamin', img: 'booking-seneamin', smiles: ['6', '7'], social: [{name: 'ТикТок', link: '#', count: '1 900 000'}, {name: 'Инстаграм ', link: '#', count: '30 500'}]},
			{name: 'Prokop', img: 'booking-prokop', smiles: ['8', '9'], social: [{name: 'ТикТок', link: '#', count: '1 000 000'}, {name: 'Инстаграм ', link: '#', count: '13 600'}]},
			{name: 'Zavaly', img: 'booking-zavaly', smiles: ['10', '11'], social: [{name: 'ТикТок', link: '#', count: '1 900 000'}, {name: 'Инстаграм ', link: '#', count: '36 400'}]},
			{name: 'Haribo', img: 'booking-haribo', smiles: ['6', '12'], social: [{name: 'ТикТок', link: '#', count: '720 000'}, {name: 'Инстаграм ', link: '#', count: '106 000'}]}
		];

		const STORE_CARDS = [{img: 'store-1', name: 'Наклейки House88', link: '#'}, {img: 'store-2', name: 'Картины от Zavaly', link: '#'}, {img: 'store-2', name: 'Браслеты от Seneamin', link: '#'}]

block main
	section.hero 
		.hero__container.container 
			.hero__photo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ex! Aut error placeat dolor eligendi debitis ab et ipsum. Quibusdam obcaecati quaerat adipisci sed. Distinctio, incidunt fugit. Consequatur, distinctio ducimus.
			.hero__main 
				h1.hero__title Тикток дом 
					span house88
				
				.hero__text Внимание <span>30</span> миллионнов человек для вашего продукта или услуги
	
	section.about 
		.about__container.container
			h2.about__title.title(data-before="about us") О нас
			.about__grid 
				.about__photo
					img(src="images/about-photo.png", width="908", height="510", alt="Общее фото ")
				.about__main 
					.about__main-title House88 это возможности:
					ul.about__list 
						li.about__item Зайти на востребованные площадки с продакшеном <span>любого уровня сложности.</span>
						li.about__item Получить <span>комплексный подход:</span> от анализа рынка до подробных отчётов.
						li.about__item Интегрировать нас в вашу маркетинговую систему и провести <span>совместные брейнштормы</span> с отделом маркетинга.
						li.about__item Получать <span>анализ процесса рекламных интеграций</span> и корректировку тактики ведения по потребности.

	section.partnership 
		.partnership__container.container 
			h2.partnership__title.title(data-before="Brands") С нами уже сотрудничают
			
			ul.partnership__list 
				each item in partners
					li.partnership__item 
						img(src="images/" + item.n + ".png", width= item.w, height= item.h, alt= item.alt)
			
			.partnership__grid
				- let i = 1;
				while i < 8
					.partnership__video 
						img(src="images/partners-" + i + ".jpg")
					- i++;
	
	section.line-section 
		.line-section__container.container 
			h2.line-section__title.title(data-before="Contact us") Хотите посотрудничать?
			.line-section__main
				form(action="", method="post")
					.line-section__fieldset
						label.field
							input(type="text", name="name")
							span.field__hint Имя
						label.field
							input(type="tel", name="phone")
							span.field__hint Телефон
						label.field
							input(type="email", name="email")
							span.field__hint Почта
						label.field
							input(type="text", name="text")
							span.field__hint Что надо?
					button.line-section__button(type="submit") 
						span Отправить

	section.quality
		.quality__container.container
			h2.quality__title.title.title--theme-light(data-before="tiktok") Мы привносим качественный контент в ТикТок

			ul.quality__list 
				li.quality__item
					.quality__item-video 
						img(src="images/quality-1.jpg", alt="")
					.quality__item-info 
						h3.quality__item-title Браслеты / 1 серия
						.quality__item-text Тикток Сериал
				li.quality__item
					.quality__item-video 
						img(src="images/quality-2.jpg", alt="")
					.quality__item-info 
						h3.quality__item-title Человек-паук / 1 серия
						.quality__item-text Тикток Сериал
				li.quality__item
					.quality__item-video 
						img(src="images/quality-3.jpg", alt="")
					.quality__item-info 
						h3.quality__item-title Краш с района / 1 серия
						.quality__item-text Тикток Сериал

	section.what-doing
		.what-doing__container.container 
			.what-doing__section
				.what-doing__section-media
					.what-doing__section-video
						img(src="images/global-trends-image.png", alt="")
				.what-doing__section-main
					.what-doing__section-title.title.title--theme-light Делаем мировые тренды

					.what-doing__section-sound
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ad sequi obcaecati commodi, accusamus molestias iure! Quod maxime, nesciunt repellendus possimus, sint molestias porro autem tenetur deserunt odit perferendis tempore!
			
			.what-doing__section
				.what-doing__section-media 
					img(src="images/new-formats-image.jpg", alt="")
				.what-doing__section-main 
					.what-doing__section-title.title.title--theme-light Создаём новые форматы продвижения треков через 
						span(data-before="tik tok") тикток

			.what-doing__section
				.what-doing__section-main 
					.what-doing__section-title.title.title--theme-light(data-before="Скоро") Создаём образовательный контент

	section.booking
		.booking__container.container 
			h2.booking__title.title(data-before="booking") Букинг блогеров
			
			.booking__filters 
				h3.booking__filters-title Виды интеграций:

				ul.booking__filters-list
					each item in FILTERS
						li.booking__filters-item 
							button(type="button", data-target= item.target)= item.text

			.booking__main 
				each item in BOOKING_CARDS
					.booking__card
						.booking__card-image
							img(src="images/" + item.img + ".jpg", width="251", height="339", alt= item.name)
						.booking__card-main
							.booking__card-title
								h3= item.name 
								each smile in item.smiles
									img(src="images/smiles/" + smile + ".png", width="32", height="32", alt="smile")
								
							each social in item.social
								.booking__card-social 
									.booking__card-social-title= social.name
									.booking__card-social-count= social.count
									a.booking__card-social-link(href= social.link)
							
							button.booking__card-button(type="button", data-member="#") Оставить заявку

	section.store
		.store__container.container
			h2.store__title.title(data-before="Store", data-after="Скоро открытие")

			ul.store__list 
				each item in STORE_CARDS
					li.store__card
						.store__card-image 	
							img(src="images/" + item.img + ".jpg", width="363", height="363", alt= item.name)
						h3.store__card-title= item.name 
						a.store__card-link(href= item.link, target="_blank") Подробнее в директ

	section.line-section
		.line-section__container.container
			h2.line-section__title.title Кстати, мы ещё и диджитал студия
			.line-section__main
				.line-section__list 
					h3 Мы делаем:
					ul
						li Бриф с вашим маркетинговым отделом 
						li Рекламные концепции
						li Съёмки под ключ: от идеи до финального видео 
						li Анализируем трафик из ТикТок
						li Развиваем коммерческие профили в ТикТок
						
				a.line-section__button(href="#") 
					span Отправить
